/* Search Results */
body.search-activated {
    /*overflow: hidden;*/
    /*padding-right: 20px;*/
}



.header-search-container a,
.header-search-container a:hover,
.header-search-container h1,
.header-search-container h2,
.header-search-container h3
{
    /*color: #FFFFFF !important;*/
}
.header-search-container a:hover{
    color: #263ce3 !important;
}
.header-search-container p {
    color: #666666 !important;
}

.header-search-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: none;
    background: #222;
    /*background: rgba(0, 0, 0, 0.85);*/
      background: rgba(253, 253, 253, 0.9);
    position: fixed;
    z-index: 200000;
    /*color: #FFFFFF;*/
    box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    overflow-y: scroll;
    overflow-x: hidden;
}

.header-search-container .header-search-input {
    background: transparent;
    border: medium none;
    /*color: #FFFFFF;*/
    font-size: 40px;
    height: auto;
    line-height: 35px;
    padding: 0;
    padding-left: 10px;
}

.header-search-container .header-search-input::-ms-clear {
    display: none;
}

.header-search-container .dc_close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-weight: bold;
  color: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  font-size: 50px;
  line-height: 49px;
 /* margin: -6px 76px 0 20px;*/
  margin: 1px 76px 0 20px;
  float: right !important;
  height: 50px;
  display: inline-block;
  vertical-align: top;
}

/*.header-search-container .dc_close {
    color: #FFFFFF;
    font-size: 40px;
    line-height: 26px;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    margin-left: 15px;
}*/

.header-search-results {
    margin-top: 20px;
}

.header-search-container > h1 {
    margin: 0 0 10px;
}

.header-search-all {
    margin: 0 0 20px;
}

.header-search-all.hide {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
}

/*  Header Search  */
.header-search-container {
    padding: 50px;
}

.header-search-container .header-search-input {
    font-size: 50px;
    line-height: 45px;
    width: 30%;
}

/*  Header Search  */
.header-search-container {
    padding: 40px;
}

.header-buttons li a {
    font-size: 20px;
}

.header-search-container .dc_close {
    font-size: 50px;
    line-height: 49px;
    margin-left: 20px;
}

.header-search-container .btn-block {
    margin: 0 0 20px;
}

.header-search-all {
    margin-top: 3px;
}

button.dc_close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    font-weight: bold;
    margin-top: -6px;
}

.pull-right {
    float: right !important;
}

/* Loading bar */
#loadingbar {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: -6px;
    width: 1%;
    height: 4px;
    background: #b91f1f;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#preloader {
    position: fixed;
    left: 50%;
    top: 50%;
    background: url(../img/preloader.gif);
    background-repeat: no-repeat;
    height: 64px;
}


.header-search-container .btn-cool-search,.header-search-container .btn-cool-search:hover {
    display: inline-block;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0px;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #454545 !important;
    width: auto !important;
    transition:all .3s;
}
.btn-cool-search:hover{
    opacity:.8;
}

.btn-bordered {
    background: transparent;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
}

.btn-bordered-light {
    border-color: #fff;
}

.btn-sm, .btn-xs {
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0px;
}
